/* Color Palette for website */
:root {
	--background-color: #DDA059;
	--primary-color: #151152;
	--accent-1: #FFD921;
	--accent-2: #59C9F1;
}

html {
	background-color: var(--background-color);
}

a {
	text-decoration: none;
	color: black;
}

header {
	background-color: var(--accent-1);
	width: fit-content;
	margin: 32px auto;
	display: flex;
	border-radius: 16px;
	border-style: solid;
	padding: 32px;
}

header>img {
	width: 100px;
	height: 100px;
}

header>h1 {
	padding: 0px;
	margin: 0px;
	font-size: 64px;
	margin-left: 48px;
}

footer {
	width: 100%;
	margin: 16px 0px;
}

footer>p {
	width: fit-content;
	margin: auto;
}

main {
	width: 70%;
	height: fit-content;
	margin: auto;
	background-color: var(--accent-1);
	padding: 16px;
	border-style: double;
	border-width: 4px;
	border-radius: 16px;
}

